body {
  background-color: #fff8dc;
  text-align: center;
  background-image: url("img/light-bg2.png");
  background-size:100px;
  background-repeat: repeat;
  
  h1{
  font-size: 2.5em;
  background-color: #ff7f50;
}